<div class="panel-header">
    <div class="header text-center animated pulse">
      <h2 class="title">Combos</h2>
      <p class="category">Crea Combos seleccionando diferentes productos y agregando 1 precio total
      </p>
    </div>
  </div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card animated fadeInUp">
        <div class="card-header ">
          Combos
        </div>
        <div class="card-body ">
        </div>
      </div>
    </div>
  </div>
</div>
